<h1>Slider de Fotos</h1>
<hr/>

<% if (!@fotos.empty?) %>
	<div class="col-md-8 col-md-offset-2 elementDistance">
		<a id="back" class='leftArrow'/></a>
		<img width="550" height="400" id="sliderContainer">
		<a id="next" class='rightArrow'></a>
	</div>

	<div class="col-md-12 text-center">
		<span id='index'></span> de <%= @fotos.length %>
	</div>
<% else %>
	<p> Não há fotos adicionadas na galeria.</p>

	<%= link_to new_foto_path, :class => 'btn btn-default' do %>
	  <i class='fa fa-pencil'></i>
	  Nova Foto
	<% end %>
<% end %>